
.top_bar input[type="button"],
    input[type="submit"],
    input[type="reset"], #btnAddDirector {
	font-family: 'Oswald', sans-serif;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #dcdcdc;
	padding: 5px 18px;
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background: -ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color: #ededed;
	color: #771100;
	display: inline-block;
        margin-top: 8px;
}

.top_bar input[type="button"]:hover, 
    input[type="submit"]:hover,
    input[type="reset"]:hover, 
    #btnAddDirector:hover {
	background: -moz-linear-gradient( center top, #8D8E8E 5%, #ededed 100% );
	background: -ms-linear-gradient( top, #8D8E8E 5%, #ededed 100% );
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #8D8E8E), color-stop(100%, #ededed) );
	background-color: #dfdfdf;
        color: black;
}

.top_bar input[type="button"]:active, 
    input[type="submit"]:active,
    input[type="reset"]:active,
    #btnAddDirector {
	position: relative;
	top: 1px;
}