.overlay {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background-image: url("../images/overlay_background.png");
}

.overlay div {
    width: 500px;
    margin: 100px auto;
    background-color: #202E51;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}

.overlay textarea {
    resize: vertical;
}

.exit {
    display: block;
    float: right;
    border: none;
    background-color: #202E51;
    color: white;
}

.exit:hover {
    border: 1px solid white;
}

.warning {
    color: red;
    font-size: .75em;
}